// 主题背景
$theme_bg: #316cd5;

$textColor: #fff;

$menu_active_text_color: rgb(7, 248, 217);

.theme_color {
    color: $theme_bg !important;
}
.theme_bg {
    background-color: $theme_bg;
}
.theme_border_color {
    border-color: $theme_bg !important;
}
.active-tag {
    background-color: $theme_bg !important;
    color: #fff !important;
    i {
        color: #fff !important;
    }
}
.cursor {
    cursor: pointer;
}

// flex布局
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-row-center {
    justify-content: center;
}
.f-col-center {
    align-items: center;
}
.flex-between {
    justify-content: space-between;
}

// 滚动条
.scrollbar-bar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}
.scrollbar-bar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 5px rgba(179, 210, 252, 0.2);
    background: #999999;
}
.scrollbar-bar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(179, 210, 252, 0.2);
    border-radius: 8px;
    background: #ededed;
}

:export {
    theme_bg: $theme_bg;
    textColor: $textColor;
    menuActiveTextColor: $menu_active_text_color;
}
